<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DAL.Properties.Settings>
            <setting name="REALCS" serializeAs="String">
                <value>Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\obarilan\Documents\University\Analysis-Design\Coupons\Starter\bin\Debug\DB.mdf;Integrated Security=True;Connect Timeout=30</value>
            </setting>
        </DAL.Properties.Settings>
    </userSettings>
</configuration>