<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.CouponsDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\obarilan\Documents\University\Analysis-Design\Coupons\DAL\CouponsDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>